* text=auto

*.css text eol=lf
*.hbs text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

packs/** binary
*.gif binary
*.jpg binary
*.png binary
*.webp binary
*.zip binary

